In [6]:
import janitor as jn
import pandas as pd
Xbad = pd.DataFrame({"A": [1,None,3],
                    " sales numbers": [20,30,None],})
Xbad

     A   sales numbers
0  1.0            20.0
1  NaN            30.0
2  3.0             NaN

In [7]:
jn.coalesce(Xbad, columns=["A"," sales numbers"],new_column_name="val")

    val
0   1.0
1  30.0
2   3.0

In [8]:
Xbad.fillna(10)

      A   sales numbers
0   1.0            20.0
1  10.0            30.0
2   3.0            10.0

In [12]:
jn.fill_empty(Xbad, columns=["A"," sales numbers"], value=10,)

      A   sales numbers
0   1.0            20.0
1  10.0            30.0
2   3.0            10.0

In [18]:
Xbad.isna().any().any()

False